[Unit]
Description=Bitcoin Daemon
After=network.target

[Service]
User=bitcoin
Group=bitcoin
Type=forking
TimeoutStartSec=30
PIDFile=/run/bitcoind.pid
ExecStart=/usr/bin/bitcoind -daemon \
                            -conf=/srv/bitcoin/.bitcoin/bitcoin.conf \
                            -pid=/run/bitcoind.pid \
                            -datadir=/srv/bitcoin/.bitcoin
ExecReload=/usr/bin/kill -HUP $MAINPID
ExecStop=/usr/bin/bitcoind stop

[Install]
WantedBy=multi-user.target
