[Unit]
Description=Bitcoin Daemon
After=network.target

[Service]
User=bitcoin
Group=bitcoin
PIDFile=/run/bitcoind.pid
WorkingDirectory=/srv/bitcoin
ExecStart=/usr/bin/bitcoind -pid=/run/bitcoind.pid -daemon=0
ExecReload=/usr/bin/kill -HUP $MAINPID
ExecStop=/usr/bin/bitcoind stop

[Install]
WantedBy=multi-user.target
