[Unit]
Description=Counterwalletd API server
Requires=redis.service
Wants=counterparty.service insight.service
After=counterparty.service insight.service redis.service

[Service]
User=counterwallet
Group=counterwallet
ExecStart=/usr/bin/counterwalletd \
                   --config-file='/etc/counterwallet/counterwalletd.conf' \
                   --data-dir='/usr/share/counterwallet'                  \
                   --log-dir='/var/log/counterwallet'

[Install]
WantedBy=multi-user.target
